@model AlumnoModel
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<h1>Editar Alumno</h1>
<div class="card">
    <form method="post" asp-action="Editar" asp-controller="Alumno">
        <div class="form-group">
            <label for="txtIdAlumno">IdAlumno:</label>
            <input asp-for="IdAlumno" type="text" id="txtIdAlumno" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label for="txtNombre">Nombre:</label>
            <input asp-for="Nombre" type="text" id="txtNombre" class="form-control" />
        </div>
        <div class="form-group">
            <label for="txtApPaterno">Apellido Paterno:</label>
            <input asp-for="ApPaterno" type="text" id="txtApPaterno" class="form-control" />
        </div>
        <div class="form-group">
            <label for="txtApMaterno">Apellido Materno:</label>
            <input asp-for="ApMaterno" type="text" id="txtApMaterno" class="form-control" />
        </div>
        <div class="form-group">
            <label for="txtEdad">Edad:</label>
            <input asp-for="Edad" type="text" id="txtEdad" class="form-control" />
        </div>
        <div class="form-group">
            <label for="txtGrupo">Grado:</label>
            <input asp-for="Grado" type="text" id="txtGrado" class="form-control" />
            <button type="submit" class="btn btn-primary">Editar</button>
        </div>
    </form>
</div>