@{
    ViewData["Title"] = "Choque de Culturas";
}
<div class="maintitle">
    <img src="~/img/Titulo.png" alt="Titulo">
</div>
@* <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/img/img1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/img/img2.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/img/img3.jpg" alt="First slide">
        </div>
    </div> *@
@* </div> *@

<div class="homebody">
    <p class="hometext">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a vestibulum dui. Sed mattis, libero id scelerisque ullamcorper, elit justo sodales risus, quis tincidunt lorem est a sem. Morbi cursus eget nisl id feugiat. Donec ac tincidunt sem. Cras tempus in libero in euismod. Morbi posuere consequat eros, vitae pharetra velit aliquam sit amet. Vestibulum suscipit venenatis justo eget vehicula. Integer id maximus erat. Cras aliquet, eros at luctus semper, massa urna euismod tellus, eget mollis est neque quis enim. Nulla id nibh arcu. Quisque luctus est dui, id rhoncus dolor consectetur at. Suspendisse sapien felis, gravida vitae egestas ut, rhoncus quis purus. Nullam sit amet risus sed dolor lobortis posuere. Fusce id venenatis est, quis vehicula neque.

    </p>
    <p class="hometext">Nullam sagittis risus non urna dignissim, in bibendum augue consequat. Proin sodales ultricies elit, fermentum rhoncus libero cursus vel. Nam porta luctus enim quis auctor. Donec ornare tincidunt elementum. Sed vitae ex eget dui suscipit convallis non id nunc. Sed congue nunc in ex tincidunt sollicitudin.</p>
    <div class="gameplaceholder">
        <img src="~/img/placeholder.png" alt="game">
    </div>

</div>
<div>
    <p>
        <br />
        <br />
        <br />
    </p>
</div>
