@model ProfesorModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Eliminar Profesor</h4>
<div class="card-body">
    <form asp-action="Eliminar" asp-controller="Profesor" method="post">
        <div class="form-group">
            <label for="txtIdProfesor">ID:</label>
            <input asp-for="IdProfesor" type="text" class="form-control" id="txtIdProfesor">
        </div>
        <div class="alert alert-danger" role="alert">¿Desea dar de baja al Profesor?: @Html.DisplayTextFor(m => m.IdProfesor)</div>
        <button type="submit" class="btn btn-primary btn-danger">Eliminar</button>
        <a>Volver a la lista</a>
    </form>
</div>