@{
    ViewData["Title"] = "Ver";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string titulo = "[GRUPO " + ViewData["Nombre"] +"]";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<h2 class="maintitle">@titulo</h2>

<div class="container principal">
    <!-- Otras partes de tu vista principal -->
    <!-- Incluye la vista parcial aquí -->
    <partial name="_VerGrupo"/>


    <!-- Otras partes de tu vista principal -->
</div>